@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&amp;display=swap');

.tiles {
    font-family: 'Montserrat', helveticaneueb;
    font-weight: bold;
    margin: 1%;
    width: 18%;
}

.tiles.tiles-action {
    font-size: 48pt;
    line-height: 180%;
    color: #2b1900;
}

.tiles .btn-warning {
    color: #3d270a;
}

.tiles.tiles-result {
    font-size: 60pt;
    line-height: 150%;
    color: #293a06 !important;
}

.box-billboard {
    width: 750px;
    min-height: 200px;
    background-image: url("../img/banery/box-750-200.png");
    margin: 2px auto;
    display: block;
    background-color: #ABA08D;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.monti, input.monti {
    font-family: 'Montserrat', helveticaneueb;
}

input.bold, input[type="tel"].bold {
    font-weight: bold;
}

@media only screen and (max-width: 740px) {

    .tiles.tiles-action {
        font-size: 30pt;
    }

    .tiles.tiles-result {
        font-size: 33pt;
    }
}

@media only screen and (max-width: 440px) {
    .tiles {
        margin: 1%;
        width: 38%;
    }

    .box-billboard {
        width: 96%;
        min-height: 250px;
        background-image: url("../img/banery/box-300-250.png");
        margin: 2px auto 6px;
    }
}